In [17]:
import requests
import pandas as pd

In [51]:
#o :post item timestamp

In [52]:
response = requests.get("https://gateway.chotot.com/v1/public/ad-listing?cg=2010&o=0")

In [53]:
maxIndex = 29773

In [47]:
cols = []
for x in response.json()['ads'][0]:
    cols.append(x)
data= pd.DataFrame(columns=cols)
for x in range(1000): #100 times
    if(x%10==0):
        print(x)
    url = "https://gateway.chotot.com/v1/public/ad-listing?cg=2010&o=" + str(x)
    response = requests.get(url)
    for i in range(len(response.json()['ads'])):
        ads= response.json()['ads'][i]
        data = data.append(ads,ignore_index=True)

0
10
20
30
40
50
60
70
80
90

In [48]:
data

,ad_id,list_id,list_time,date,account_id,account_oid,account_name,subject,body,category,...,ward_name,carmodel,carbrand,carmodel_name,condition_ad_name,owner,protection_entitlement,shop,shop_alias,has_video
0,125459901,89585805,1636824580000,2 phút trước,17517282,aaf9eaf5f8869dfffc0f433db54896cf,pham Vu,cruze 2014 tự động,Tôi cần bán cruZe sx 2014 số tự động xe đi cực...,2010,...,Phường 12,164,4,Cruze,Đã sử dụng,False,False,NaN,NaN,NaN
1,124428458,88782034,1636824443904,4 phút trước,4324474,b7b6b63ab262c052262cb27d4a0f16b4,Trần Thành,FORD RANGER 2016 SỐ TỰ ĐỘNG 1 CHỦ_BAO TEST HÃNG,Ford Ranger XLS 2016 Số tự động một cầu. Xe m...,2010,...,Phường 10,145,3,Ranger,Đã sử dụng,False,False,"{'alias': 'zS79BfM53h2auzB', 'status': 'accept...",zS79BfM53h2auzB,NaN
2,124342103,88712642,1636824387258,5 phút trước,4324474,b7b6b63ab262c052262cb27d4a0f16b4,Trần Thành,FORD ECOSPORT 2016 TITANIUM XE ĐẸP GIA ĐÌNH ÍT ĐI,Ford ECOSPORT 2016 Titanium Số tự động bản đủ....,2010,...,Phường Bình Hưng Hoà A,120,3,EcoSport,Đã sử dụng,False,False,"{'alias': 'zS79BfM53h2auzB', 'status': 'accept...",zS79BfM53h2auzB,NaN
3,125459875,89585788,1636824348629,6 phút trước,4324474,b7b6b63ab262c052262cb27d4a0f16b4,Trần Thành,RANGER WILDTRAK 3.2 2018_1 CHỦ ĐI GIA ĐÌNH_BAO...,Ford Ranger Wildtrak 3.2L 2018 Phiên bản cao c...,2010,...,Phường 15,145,3,Ranger,Đã sử dụng,False,False,"{'alias': 'zS79BfM53h2auzB', 'status': 'accept...",zS79BfM53h2auzB,NaN
4,124863119,89123590,1636823486864,20 phút trước,895280,60d4f453555ae31a0590beadabc40a3a,Quang,Bán Toyota Yaris nhập pháp,"Nhà cần bán xe Toyota Yaris , sx 2007 , Xe tên...",2010,...,Xã Tân Minh,105,2,Yaris,Đã sử dụng,False,False,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,125411165,89547714,1636814732546,3 giờ trước,14205874,695ef544978f1e0f26e7728d18e83a49,Tuấn Anh,bán canival tự động,:bán Kia CANIVAL sx đăng ký 2009 số tự động\nX...,2010,...,Xã Cổ Loa,5,1,Carnival,Đã sử dụng,False,False,"{'alias': 'CntYnsb6N9YU13J', 'status': 'accept...",CntYnsb6N9YU13J,NaN
1996,123599320,88133637,1636814732354,3 giờ trước,3542,2085ab706c41b50879b8edef89d3916b,AUTO ANH TUẤN,Range Rover Evoque SX 2011,Auto anh tuấn\nMua bán oto đã qua sử dụng có b...,2010,...,Phường Đại Mỗ,650,51,Range Rover Evoque,Đã sử dụng,False,False,"{'alias': 'kDnEqOEmqKKqGd9', 'status': 'accept...",kDnEqOEmqKKqGd9,NaN
1997,125345470,89494804,1636814668970,3 giờ trước,78286,e33e2a5c6c3f27f97acfcb0224d4e7c0,FORD PHỔ QUANG XE CŨ,"Raptor Giao Ngay Tháng 11 Có Sẵn Xe, Còn Đủ Màu",💥RAPTOR SẴN XE TẠI KHO XE GIAO NGAY - SÀI GÒN ...,2010,...,Phường 2,145,3,Ranger,Mới,False,False,"{'alias': '7lCxfPCqUyb7APJ', 'status': 'accept...",7lCxfPCqUyb7APJ,NaN
1998,125071566,89284318,1636814668970,3 giờ trước,13742089,97fb6ad3d3d38cae41ed43d0fa11adb5,tiến,Isuzu MUX số sàn nhập khẩu model 2019,Em cần bán xe ISUZU MU-X 1.9 MT sản xuất và lă...,2010,...,Phường 10,1041,13,Mu X,Đã sử dụng,False,False,NaN,NaN,NaN
1999,125158159,89349288,1636814645959,3 giờ trước,281503,b0eb6721ba10e45f0887345b9dcfb642,Thanh Biz Nguyễn Thái Auto,Hyundai Kona 2019 2.0 ATH đặc biệt rất mới,Mới về xe quá đẹp\n\n#Kona 2019 ATH 2.0 biển H...,2010,...,Phường Mễ Trì,1079,5,Kona,Đã sử dụng,False,False,"{'alias': 'ePcgdY1REGqk7oQ', 'status': 'accept...",ePcgdY1REGqk7oQ,NaN