In [1]:
import json

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("Data/data.csv")

/home/leo/anaconda3/envs/ds/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Note
* ad_id:
* date: time posted
* account_oid: remove
* account_name: remove
* category, category_name: same meaning
* area, area_name: same meaning
* region, region_name: same meaning
* price, price_string: same meaning

In [11]:
data[["price", "price_string"]]

              price     price_string
0      1.170000e+09  1.170.000.000 đ
1      2.700000e+02            270 đ
2      1.090000e+09  1.090.000.000 đ
3      4.900000e+08    490.000.000 đ
4      4.000000e+08    400.000.000 đ
...             ...              ...
30355  1.146165e+09  1.146.165.000 đ
30356  4.999000e+08    499.900.000 đ
30357  1.029000e+09  1.029.000.000 đ
30358  6.360000e+08    636.000.000 đ
30359  7.500000e+08    750.000.000 đ

[30360 rows x 2 columns]

In [5]:
column_name = list(data)
column_name

['ad_id',
 'list_id',
 'list_time',
 'date',
 'account_id',
 'account_oid',
 'account_name',
 'subject',
 'body',
 'category',
 'category_name',
 'area',
 'area_name',
 'region',
 'region_name',
 'company_ad',
 'condition_ad',
 'type',
 'price',
 'price_string',
 'image',
 'webp_image',
 'videos',
 'number_of_images',
 'mfdate',
 'avatar',
 'region_v2',
 'area_v2',
 'ward',
 'ward_name',
 'carmodel',
 'carbrand',
 'carmodel_name',
 'carseats',
 'condition_ad_name',
 'mileage',
 'mileage_v2',
 'gearbox',
 'service_sendvideo',
 'contain_videos',
 'phone',
 'fuel',
 'carcolor',
 'carorigin',
 'cartype',
 'owner',
 'protection_entitlement',
 'params',
 'shop_alias',
 'shop',
 'can_deposit',
 'escrow_deposit_min_amount',
 'escrow_deposit_max_amount',
 'escrow_deposit_ship_days',
 'has_video',
 'ad_features',
 'reviewer_image']

In [7]:
data.isna().sum()

ad_id                            0
list_id                          0
list_time                        0
date                             0
account_id                       0
account_oid                      0
account_name                     0
subject                          0
body                             0
category                         0
category_name                    0
area                             0
area_name                        0
region                           0
region_name                      0
company_ad                       0
condition_ad                     2
type                             0
price                           66
price_string                    66
image                          103
webp_image                     103
videos                           0
number_of_images               103
mfdate                         192
avatar                           0
region_v2                        0
area_v2                          0
ward                          5210
ward_name                     5214
carmodel                       191
carbrand                       191
carmodel_name                  191
carseats                      1436
condition_ad_name                2
mileage                        189
mileage_v2                       2
gearbox                        200
service_sendvideo            22301
contain_videos                   0
phone                            0
fuel                          1749
carcolor                      4126
carorigin                     3949
cartype                       1795
owner                            0
protection_entitlement           0
params                         169
shop_alias                   20901
shop                         20901
can_deposit                  29959
escrow_deposit_min_amount    29959
escrow_deposit_max_amount    29959
escrow_deposit_ship_days     29959
has_video                    29665
ad_features                  30359
reviewer_image               30359
dtype: int64

In [8]:
data.shape

(30360, 57)