In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../Data/data_bonbanh.csv')

In [10]:
data.shape

(65094, 28)

In [4]:
data.describe()

,id,category_id,car_price,car_doors,car_seats,car_mileage,car_engine,id.1,car_model_id,source_id,id.2,manufacturer_id
count,65094.000000,65094.000000,6.509400e+04,65035.000000,65035.000000,6.503500e+04,0.0,65094.000000,65094.000000,65094.0,65094.000000,65094.000000
mean,41333.597874,437.358374,5.208582e+10,4.405981,5.600738,1.378595e+05,NaN,437.358374,437.358374,1.0,437.358374,15.762328
std,26120.794176,229.163331,5.327441e+12,1.069788,2.215018,4.924701e+06,NaN,229.163331,229.163331,0.0,229.163331,10.357279
min,1.000000,1.000000,7.000000e+06,0.000000,0.000000,0.000000e+00,NaN,1.000000,1.000000,1.0,1.000000,1.000000
25%,19641.250000,268.000000,3.350000e+08,4.000000,5.000000,0.000000e+00,NaN,268.000000,268.000000,1.0,268.000000,10.000000
50%,36705.500000,428.000000,5.350000e+08,5.000000,5.000000,9.999000e+03,NaN,428.000000,428.000000,1.0,428.000000,15.000000
75%,65176.750000,690.000000,8.760000e+08,5.000000,7.000000,5.400000e+04,NaN,690.000000,690.000000,1.0,690.000000,23.000000
max,89213.000000,1262.000000,8.140000e+14,58.000000,47.000000,9.876543e+08,NaN,1262.000000,1262.000000,1.0,1262.000000,85.000000

In [17]:
countNaData = data.isna().sum()

In [31]:
np.where(countNaData!=0)[0]

array([ 4,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18])

In [35]:
naData = countNaData[np.where(countNaData!=0)[0]]

In [36]:
naData

thumbnail          716
car_origin          59
car_condition       59
car_type            59
car_color           59
car_fuel            60
car_doors           59
car_seats           59
car_gearbox         59
car_mileage         59
car_engine       65094
dtype: int64