In [42]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [140]:
data = pd.read_csv('../CrawlData/chotot_api.csv')

/home/vukhanh/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [141]:
dataRow = pd.read_json('../CrawlData/chotot.json')

In [142]:
dataRow = dataRow[['url','description']]

In [ ]:
data['url'] =''
for x in tqdm(range(dataRow.shape[0])):
    tmp = data[data['body']==dataRow.description.iloc[x]]
    if tmp.shape[0] ==0:
        continue
    else:
        index = tmp.index
        data.loc[index,'url'] = dataRow.url.iloc[x]

 11%|█         | 4013/35957 [00:16<02:19, 228.68it/s]

In [86]:
cols= ['url','date','body','mfdate','region_name','price','carmodel','carbrand','carmodel_name','carseats',
      'condition_ad_name','mileage_v2','gearbox','fuel','carcolor','carorigin',
       'cartype','image']

In [87]:
res = pd.DataFrame(data[cols])

# Brand Name

In [88]:
def to_string(colA,colB):
    res[colB] =''
    tmp_dict = pd.read_csv('../util/Data/{}.csv'.format(colB))
    for x in tqdm(range(res.shape[0])):
        key = res.loc[x,colA]
        if pd.notna(key):
            result = tmp_dict[tmp_dict[colA] == key]
            if result.shape[0] > 0:
                value = result.iloc[0,2]
            else:
                continue
            res.loc[x,colB] = value

In [89]:
to_string('carbrand','brand_name')

100%|██████████| 30360/30360 [00:43<00:00, 698.18it/s]

In [90]:
to_string('carmodel','car_model')

100%|██████████| 30360/30360 [00:40<00:00, 750.08it/s]

In [91]:
to_string('fuel','car_fuel')

100%|██████████| 30360/30360 [00:35<00:00, 852.81it/s]

In [92]:
to_string('gearbox','gear')

100%|██████████| 30360/30360 [00:52<00:00, 574.66it/s]

In [93]:
to_string('carorigin','origin')

100%|██████████| 30360/30360 [00:38<00:00, 785.51it/s]

In [94]:
to_string('cartype','style')

100%|██████████| 30360/30360 [00:44<00:00, 688.90it/s]

In [95]:
to_string('carcolor','car_color')

100%|██████████| 30360/30360 [00:37<00:00, 811.22it/s]

# Color

In [96]:
id1 = res[res['car_color']=='Xanh lá'].index
id2 = res[res['car_color']=='Xanh dương'].index
id = id1.append(id2)
res.loc[id,'car_color'] = 'Xanh'

In [97]:
cols= ['url','body','origin','condition_ad_name','mileage_v2','car_color','carseats','gear','mfdate','price',
       'style','date','car_model','car_fuel','brand_name','region_name','image']

In [98]:
last_res = res[cols]

In [99]:
last_res.columns = ['url','description', 'origin', 'status', 'car_mileage', 'car_color',
       'car_seats', 'gear', 'car_year', 'car_price', 'style', 'createdAt',
       'model', 'fuel_x', 'brand_name', 'region_name','url_image']

In [62]:
last_res.to_csv('../Data/chotot_integrate.csv',index=False)

In [64]:
last_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30360 entries, 0 to 30359
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  30360 non-null  object
 1   origin       30360 non-null  object
 2   status       30358 non-null  object
 3   car_mileage  30358 non-null  float64
 4   car_color    30360 non-null  object
 5   car_seats    28924 non-null  float64
 6   gear         30360 non-null  object
 7   car_year     30168 non-null  float64
 8   car_price    30294 non-null  float64
 9   style        30360 non-null  object
 10  createdAt    30360 non-null  object
 11  model        30360 non-null  object
 12  fuel_x       30360 non-null  object
 13  brand_name   30360 non-null  object
 14  region_name  30360 non-null  object
 15  url_image    30257 non-null  object
dtypes: float64(4), object(12)
memory usage: 3.7+ MB