In [1]:
import pandas as pd
import numpy as np

In [2]:
dataRaw = pd.read_json('../CrawlData/chotot.json')

In [3]:
data = pd.read_csv('../CrawlData/chotot_api.csv')

F:\AnacondaPackage\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
res = pd.merge(dataRaw, data, left_on='description', right_on='body')

In [55]:
# res.fillna(-1,inplace=True)

In [6]:
def to_dict(colA,colB):
    tmp = res[[colA,colB]]
    uniqueA = res[colA].unique()
    df = []
    for key in uniqueA:
        result = tmp[tmp[colA] == key]
        if result.shape[0] > 0:
            value = result.iloc[0,1]
        else:
            continue
        df.append({colA:key,colB:value})
    df = pd.DataFrame(df)
    df.to_csv('./Data/{}.csv'.format(colB))
    return df

In [7]:
df = to_dict('carmodel','car_model')
df

     carmodel car_model
0       637.0       MDX
1        71.0    Innova
2       448.0       GLC
3       323.0  7 Series
4       101.0      Vios
..        ...       ...
501     578.0       406
502     888.0    Antara
503     286.0      MX 3
504     876.0    Pronto
505     453.0  ML Class

[506 rows x 2 columns]

In [8]:
df = to_dict('carbrand','brand_name')
df

    carbrand     brand_name
0       25.0          Acura
1        2.0         Toyota
2       16.0  Mercedes Benz
3        9.0            BMW
4        6.0          Honda
..       ...            ...
63      56.0       Maserati
64      41.0            Gaz
65      55.0            Man
66      79.0          Reult
67      61.0           Opel

[68 rows x 2 columns]

In [9]:
df = to_dict('gearbox','gear')
df

   gearbox         gear
0      1.0      Tự động
1      2.0       Số sàn
2      3.0  Bán tự động

In [10]:
df = to_dict('fuel_y','fuel_x')
df

   fuel_y          fuel_x
0     1.0            Xăng
1     2.0             Dầu
2     3.0  Động cơ Hybrid

In [11]:
df = to_dict('carorigin','origin')
df

   carorigin      origin
0        7.0   Nước khác
1        1.0    Việt Nam
2        4.0    Thái Lan
3        5.0    Nhật Bản
4        8.0          Mỹ
5        9.0         Đức
6        6.0  Trung Quốc
7        3.0    Hàn Quốc
8       10.0    Đài Loan
9        2.0       Ấn Độ

In [12]:
df = to_dict('cartype','style')
df

   cartype              style
0      3.0   SUV / Cross over
1      8.0      Minivan (MPV)
2      1.0              Sedan
3      4.0          Hatchback
4      6.0  Pick-up (bán tải)
5      9.0                Van
6      2.0      Coupe (2 cửa)
7      5.0     Kiểu dáng khác
8      7.0           Mui trần

In [14]:
with open('./Data/color.txt','r',encoding="utf8") as f:
    lines = f.readlines()

In [15]:
df = []
for line in lines:
    line = line.replace('\n','')
    arrLine = line.split(' - ')
    a,b = arrLine
    a = int(a)
    df.append([a,b])

In [16]:
res = pd.DataFrame(df,columns=['carcolor','car_color'])

In [71]:
res.to_csv('./Data/car_color.csv',encoding="utf8")