In [1]:
import pandas as pd
import numpy as np

In [2]:
dataRaw = pd.read_json('../CrawlData/data.json')

In [3]:
data = pd.read_csv('../Data/data.csv')

/home/vukhanh/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
res = pd.merge(dataRaw, data, left_on='description', right_on='body')

In [5]:
res.columns

Index(['url', 'title', 'price_x', 'description', 'seller', 'brand_name',
       'car_model', 'year_of_manufacture', 'km_number', 'status', 'gear',
       'fuel_x', 'origin', 'style', 'number_seat', 'ad_id', 'list_id',
       'list_time', 'date', 'account_id', 'account_oid', 'account_name',
       'subject', 'body', 'category', 'category_name', 'area', 'area_name',
       'region', 'region_name', 'company_ad', 'condition_ad', 'type',
       'price_y', 'price_string', 'image', 'webp_image', 'videos',
       'number_of_images', 'mfdate', 'avatar', 'region_v2', 'area_v2', 'ward',
       'ward_name', 'carmodel', 'carbrand', 'carmodel_name', 'carseats',
       'condition_ad_name', 'mileage', 'mileage_v2', 'gearbox',
       'service_sendvideo', 'contain_videos', 'phone', 'fuel_y', 'carcolor',
       'carorigin', 'cartype', 'owner', 'protection_entitlement', 'params',
       'shop_alias', 'shop', 'can_deposit', 'escrow_deposit_min_amount',
       'escrow_deposit_max_amount', 'escrow_deposit_ship_days', 'has_video',
       'ad_features', 'reviewer_image'],
      dtype='object')

In [6]:
# res.fillna(-1,inplace=True)

In [7]:
def to_dict(colA,colB):
    tmp = res[[colA,colB]]
    uniqueA = res[colA].unique()
    df = []
    for key in uniqueA:
        result = tmp[tmp[colA] == key]
        if result.shape[0] > 0:
            value = result.iloc[0,1]
        else:
            continue
        df.append({colA:key,colB:value})
    df = pd.DataFrame(df)
    df.to_csv('./Data/{}.csv'.format(colB))
    return df

In [8]:
df = to_dict('carmodel','car_model')
df

     carmodel car_model
0       179.0     Spark
1        71.0    Innova
2       101.0      Vios
3       268.0         3
4      1079.0      Kona
..        ...       ...
479     515.0    Cedric
480     574.0       308
481     488.0      L200
482      34.0    Sephia
483     476.0  Diamante

[484 rows x 2 columns]

In [9]:
df = to_dict('carbrand','brand_name')
df

    carbrand    brand_name
0        4.0     Chevrolet
1        2.0        Toyota
2        7.0         Mazda
3        5.0       Hyundai
4       10.0        Daewoo
..       ...           ...
61      53.0       Lincoln
62      66.0   Rolls Royce
63      26.0    Alfa Romeo
64      28.0  Aston Martin
65      31.0         Buick

[66 rows x 2 columns]

In [10]:
df = to_dict('gearbox','gear')
df

   gearbox         gear
0      1.0      Tự động
1      2.0       Số sàn
2      3.0  Bán tự động

In [11]:
df = to_dict('fuel_y','fuel_x')
df

   fuel_y          fuel_x
0     1.0            Xăng
1     2.0             Dầu
2     3.0  Động cơ Hybrid

In [12]:
df = to_dict('carorigin','origin')
df

   carorigin      origin
0        3.0    Hàn Quốc
1        1.0    Việt Nam
2        4.0    Thái Lan
3        7.0   Nước khác
4        9.0         Đức
5        5.0    Nhật Bản
6        8.0          Mỹ
7        2.0       Ấn Độ
8        6.0  Trung Quốc
9       10.0    Đài Loan

In [13]:
df = to_dict('cartype','style')
df

   cartype              style
0      4.0          Hatchback
1      8.0      Minivan (MPV)
2      1.0              Sedan
3      3.0   SUV / Cross over
4      6.0  Pick-up (bán tải)
5      9.0                Van
6      5.0     Kiểu dáng khác
7      2.0      Coupe (2 cửa)
8      7.0           Mui trần

In [14]:
for x in range(1,13,1):
    f = open('./Color/carcolor{}.txt'.format(x),'a')
    for url in res[res['carcolor'] ==x]['url']:
        f.writelines(url+'\n')

In [2]:
with open('./Data/color.txt','r') as f:
    lines = f.readlines()

In [6]:
df = []
for line in lines:
    line = line.replace('\n','')
    arrLine = line.split(' - ')
    a,b = arrLine
    a = int(a)
    df.append([a,b])

In [8]:
res = pd.DataFrame(df,columns=['carcolor','car_color'])

In [13]:
res.to_csv('./Data/car_color.csv')