In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
data = pd.read_csv('../Data/data.csv')

/home/vukhanh/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [95]:
cols= ['date','body','mfdate','region_name','price','carmodel','carbrand','carmodel_name','carseats',
      'condition_ad_name','mileage_v2','gearbox','fuel','carcolor','carorigin',
       'cartype']

In [96]:
res = pd.DataFrame(data[cols])

In [97]:
res.iloc[0]

date                                                      2 phút trước
body                 🔹 HÀNG MỚI VỀ\n🔹 BMW 520i \n🔹 MODEL 2016\n🔹 Od...
mfdate                                                          2015.0
region_name                                                     Hà Nội
price                                                     1170000000.0
carmodel                                                         321.0
carbrand                                                           9.0
carmodel_name                                                 5 Series
carseats                                                           4.0
condition_ad_name                                           Đã sử dụng
mileage_v2                                                     50000.0
gearbox                                                            1.0
fuel                                                               1.0
carcolor                                                           1.0
carorigin                                                          9.0
cartype                                                            1.0
Name: 0, dtype: object

# Brand Name

In [98]:
def to_string(colA,colB):
    res[colB] =''
    tmp_dict = pd.read_csv('../util/Data/{}.csv'.format(colB))
    for x in tqdm(range(res.shape[0])):
        key = res.loc[x,colA]
        if pd.notna(key):
            result = tmp_dict[tmp_dict[colA] == key]
            if result.shape[0] > 0:
                value = result.iloc[0,2]
            else:
                continue
            res.loc[x,colB] = value

In [99]:
to_string('carbrand','brand_name')

100%|██████████| 30360/30360 [00:30<00:00, 982.48it/s]

In [100]:
to_string('carmodel','car_model')

100%|██████████| 30360/30360 [00:31<00:00, 951.49it/s]

In [101]:
to_string('fuel','car_fuel')

100%|██████████| 30360/30360 [00:28<00:00, 1066.84it/s]

In [102]:
to_string('gearbox','gear')

100%|██████████| 30360/30360 [00:31<00:00, 977.05it/s]

In [103]:
to_string('carorigin','origin')

100%|██████████| 30360/30360 [00:26<00:00, 1128.93it/s]

In [104]:
to_string('cartype','style')

100%|██████████| 30360/30360 [00:28<00:00, 1068.18it/s]

In [105]:
cols= ['body','origin','condition_ad_name','mileage_v2','carcolor','carseats','gear','mfdate','price',
       'style','date','car_model','car_fuel','brand_name','region_name']

In [109]:
last_res = res[cols]

In [111]:
last_res.columns = ['description', 'origin', 'status', 'car_mileage', 'car_color',
       'car_seats', 'gear', 'car_year', 'car_price', 'style', 'createdAt',
       'model', 'fuel_x', 'brand_name', 'region_name']

In [113]:
last_res.to_csv('../Data/chotot_integrate.csv',index=False)