In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
data = pd.read_csv('../CrawlData/chotot_api.csv')

/home/vukhanh/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
data.region_name.isnull().sum()

0

In [141]:
dataRow = pd.read_json('../CrawlData/chotot.json')

In [142]:
dataRow = dataRow[['url','description']]

In [143]:
data['url'] =''
for x in tqdm(range(dataRow.shape[0])):
    tmp = data[data['body']==dataRow.description.iloc[x]]
    if tmp.shape[0] ==0:
        continue
    else:
        index = tmp.index
        data.loc[index,'url'] = dataRow.url.iloc[x]

100%|██████████| 35957/35957 [03:25<00:00, 175.14it/s]

In [144]:
cols= ['url','date','body','mfdate','region_name','price','carmodel','carbrand','carmodel_name','carseats',
      'condition_ad_name','mileage_v2','gearbox','fuel','carcolor','carorigin',
       'cartype','image']

In [145]:
res = pd.DataFrame(data[cols])

# Brand Name

In [146]:
def to_string(colA,colB):
    res[colB] =''
    tmp_dict = pd.read_csv('../util/Data/{}.csv'.format(colB))
    for x in tqdm(range(res.shape[0])):
        key = res.loc[x,colA]
        if pd.notna(key):
            result = tmp_dict[tmp_dict[colA] == key]
            if result.shape[0] > 0:
                value = result.iloc[0,2]
            else:
                continue
            res.loc[x,colB] = value

In [147]:
to_string('carbrand','brand_name')

100%|██████████| 30360/30360 [00:46<00:00, 649.30it/s]

In [148]:
to_string('carmodel','car_model')

100%|██████████| 30360/30360 [00:44<00:00, 686.50it/s]

In [149]:
to_string('fuel','car_fuel')

100%|██████████| 30360/30360 [00:39<00:00, 759.60it/s]

In [150]:
to_string('gearbox','gear')

100%|██████████| 30360/30360 [00:45<00:00, 670.80it/s]

In [151]:
to_string('carorigin','origin')

100%|██████████| 30360/30360 [00:36<00:00, 823.73it/s]

In [152]:
to_string('cartype','style')

100%|██████████| 30360/30360 [00:41<00:00, 735.59it/s]

In [153]:
to_string('carcolor','car_color')

100%|██████████| 30360/30360 [00:36<00:00, 825.84it/s]

# Color

In [154]:
id1 = res[res['car_color']=='Xanh lá'].index
id2 = res[res['car_color']=='Xanh dương'].index
id = id1.append(id2)
res.loc[id,'car_color'] = 'Xanh'

In [155]:
cols= ['url','body','origin','condition_ad_name','mileage_v2','car_color','carseats','gear','mfdate','price',
       'style','date','car_model','car_fuel','brand_name','region_name','image']

In [156]:
last_res = res[cols]

In [157]:
last_res.columns = ['url','description', 'origin', 'status', 'car_mileage', 'car_color',
       'car_seats', 'gear', 'car_year', 'car_price', 'style', 'createdAt',
       'model', 'fuel_x', 'brand_name', 'region_name','url_image']

In [163]:
last_res.to_csv('../Data/chotot_integrate.csv',index=False)

In [164]:
last_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30360 entries, 0 to 30359
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   url          30360 non-null  object
 1   description  30360 non-null  object
 2   origin       30360 non-null  object
 3   status       30358 non-null  object
 4   car_mileage  30358 non-null  float64
 5   car_color    30360 non-null  object
 6   car_seats    28924 non-null  float64
 7   gear         30360 non-null  object
 8   car_year     30168 non-null  float64
 9   car_price    30294 non-null  float64
 10  style        30360 non-null  object
 11  createdAt    30360 non-null  object
 12  model        30360 non-null  object
 13  fuel_x       30360 non-null  object
 14  brand_name   30360 non-null  object
 15  region_name  30360 non-null  object
 16  url_image    30257 non-null  object
dtypes: float64(4), object(13)
memory usage: 3.9+ MB